<!DOCTYPE html>
<html>
<head>
    <title>商品信息表表</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../public/plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <script src="../public/libs/jquery.min.js"></script>
    <script src="../public/plugins/layer/layer.js"></script>
    <script src="../public/libs/bootstrap.min.js"></script>
    <script src="../public/libs/vue.min.js"></script>
    <script src="../public/plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../public/plugins/editor/wangEditor.min.js"></script>
    <script src="../public/plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../public/js/common.js"></script>
    <script src="../public/libs/ajaxupload.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" id="searchKey" class="form-control" v-model="q.key" @keyup.enter="query" placeholder="商品名、商品品牌">
            </div>
            <a class="btn btn-default" @click="query"><i class="fa fa-search"></i>&nbsp;查询</a>
            <a class="btn btn-success" @click="reset"><i class="fa fa-rotate-left"></i> 重置</a>
            <a v-if="hasPermission('productinfo:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            <a v-if="hasPermission('productinfo:update')" class="btn btn-primary" @click="update"><i
                    class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            <a v-if="hasPermission('productinfo:delete')" class="btn btn-primary" @click="del"><i
                    class="fa fa-trash-o"></i>&nbsp;删除</a>
            <a v-if="hasPermission('commentdelivery:info')" class="btn btn-primary" @click="comment"><i
                    class="fa fa-comments-o"></i>&nbsp;评论</a>
            <a v-if="hasPermission('commentdelivery:info')" class="btn btn-primary" @click="onShelves"><i
                    class="fa fa-arrow-circle-o-up"></i>&nbsp;上架</a>
            <a v-if="hasPermission('commentdelivery:info')" class="btn btn-primary" @click="offShelves"><i
                    class="fa fa-arrow-circle-o-down"></i>&nbsp;下架</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">商品名称</div><font color="red">*</font>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="productInfo.name" placeholder="商品名称"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">商品图片</div><font color="red">*</font>
                <div class="col-sm-10">

                    <div id="upload" style="background-image:url('http://pa23ubi36.bkt.clouddn.com/upload/20180611/98eca8e408c14c10b7049403d1385269');background-size:100% 100%;width: 100px;height: 100px"></div>
                    <input id="productInfo_img" type="hidden" v-model="productInfo.img">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">售价</div><font color="red">*</font>
                <div class="col-sm-10">
                    <input type='number' step="0.01" oninput="this.value=checkDecimal(this.value)" class="form-control" v-model="productInfo.amountShow" placeholder="售价"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">优惠价</div><font color="red">*</font>
                <div class="col-sm-10">
                    <input type='number' step="0.01" oninput="this.value=checkDecimal(this.value)" class="form-control" v-model="productInfo.amount" placeholder="优惠价"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">配送费</div><font color="red">*</font>
                <div class="col-sm-10">
                    <input type='number' step="0.01" oninput="this.value=checkDecimal(this.value)" class="form-control" v-model="productInfo.deliveryFee" placeholder="配送费"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">排序</div>
                <div class="col-sm-10">
                    <input type='text' onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9]+/,'');}).call(this)" onblur="this.v();" class="form-control" v-model="productInfo.sort" placeholder="排序"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">广告轮播图1</div><font color="red">*</font>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="productInfo.banner1" placeholder="广告轮播图1"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">广告轮播图2</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="productInfo.banner2" placeholder="广告轮播图2"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">广告轮播图3</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="productInfo.banner3" placeholder="广告轮播图3"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">广告轮播图4</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="productInfo.banner4" placeholder="广告轮播图4"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">商品品牌</div><font color="red">*</font>
                <div class="col-sm-10">
                    <select v-model="brandId" class="form-control" id="selected">
                        <option v-for="brand in brandList"  :value="brand.id" >{{brand.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">桶类型</div><font color="red">*</font>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" name="bucketType" value="10" v-model="productInfo.bucketType"/> 一次性桶装水
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="bucketType" value="20" v-model="productInfo.bucketType"/> 循环桶装水
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="bucketType" value="30" v-model="productInfo.bucketType"/> 瓶装水
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">支持一键送水</div><font color="red">*</font>
                <div class="col-sm-10">
                    <label class="radio-inline">
                        <input type="radio" name="isQuick" value="10" v-model="productInfo.isQuick"/> 是
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="isQuick" value="20" v-model="productInfo.isQuick"/> 否
                    </label>
                </div>
            </div>
            <div class="form-group" style="width: 1024px;height: 350px">
                <div id="editor">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="../public/js/product/productinfo.js"></script>
</body>
</html>