<!DOCTYPE html>
<html>
<head>
<title>商品评价</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../public/css/bootstrap.min.css">
<link rel="stylesheet" href="../public/css/font-awesome.min.css">
<link rel="stylesheet" href="../public/plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../public/plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../public/css/main.css">
<script src="../public/libs/jquery.min.js"></script>
<script src="../public/plugins/layer/layer.js"></script>
<script src="../public/libs/bootstrap.min.js"></script>
<script src="../public/libs/vue.min.js"></script>
<script src="../public/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../public/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../public/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../public/js/common.js"></script>
	<style>
		ul {
			padding-left: 0;
			overflow: hidden;
		}
		ul li {
			float: left;
			list-style: none;
			width: 27px;
			height: 27px;
			background: url(../public/img/star.gif)
		}
		ul li a {
			display: block;
			width: 100%;
			padding-top: 27px;
			overflow: hidden;
		}
		ul li.light {
			background-position: 0 -29px;
		}
	</style>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
            <a v-if="hasPermission('commentproduct:info')" class="btn btn-primary" @click="info"><i class="fa fa-plus"></i>&nbsp;详情</a>
			<a v-if="hasPermission('commentproduct:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a v-if="hasPermission('commentproduct:update')" class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a v-if="hasPermission('commentproduct:delete')" class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
											<div class="form-group">
			   	<div class="col-sm-2 control-label">商品品牌名称</div>
			   	<div class="col-sm-10">
			      <input type="text" disabled="disabled" class="form-control" v-model="commentProduct.productId" placeholder="商品品牌名称"/>
			    </div>
			</div>
                                            <div class="form-group">
                <div class="col-sm-2 control-label">打分，1-5分</div>
                <div class="col-sm-10">
                    <!--<input type="text" disabled="disabled" class="form-control" v-model="commentDelivery.level" placeholder="打分，1-5分"/>
  -->
                    <ul>
                        <li class="light"><a href="javascript:;">1</a></li>
                        <li><a href="javascript:;">2</a></li>
                        <li><a href="javascript:;">3</a></li>
                        <li><a href="javascript:;">4</a></li>
                        <li><a href="javascript:;">5</a></li>
                    </ul>
                </div>
            </div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">评论内容</div>
			   	<div class="col-sm-10">
			      <input type="textarea" style="height: 200px" disabled="disabled" class="form-control" v-model="commentProduct.comment" placeholder="评论内容"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">评论时间</div>
			   	<div class="col-sm-10">
			      <input type="text" disabled="disabled" class="form-control" v-model="commentProduct.creationTime" placeholder="评论时间"/>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<!--<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>-->
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="../public/js/comment/commentproduct.js"></script>
</body>
</html>