<!DOCTYPE html>
<html>
<head>
    <title>订单信息表</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../public/plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <script src="../public/libs/jquery.min.js"></script>
    <script src="../public/plugins/layer/layer.js"></script>
    <script src="../public/libs/bootstrap.min.js"></script>
    <script src="../public/libs/vue.min.js"></script>
    <script src="../public/plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../public/plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../public/plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../public/js/common.js"></script>
    <style>
        select:invalid { color: gray; }
    </style>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2" style="width: 150px">
                <input type="text" id="userName" class="form-control" v-model="q.userName" @keyup.enter="query" placeholder="用户名">
            </div>
            <div class="form-group col-sm-2" style="width: 150px">
                <input type="text" id="userPhone" class="form-control" v-model="q.userPhone" @keyup.enter="query" placeholder="用户手机号">
            </div>
            <div class="form-group col-sm-2" style="width: 200px">
                <select v-model="q.status" class="form-control" id="statusSelect">
                    <option value="" disabled selected hidden>订单状态</option>
                    <option v-for="statusSel in statusSelect" :value="statusSel.id">{{statusSel.name}}</option>
                </select>
            </div>
            <div class="form-group col-sm-2" style="width: 150px">
                <select v-model="q.type" class="form-control" id="typeSelect">
                    <option value="" disabled selected hidden>配送状态</option>
                    <option value="10">正常</option>
                    <option value="20">异常</option>
                </select>
            </div>
            <a class="btn btn-default" @click="query">查询</a>
            <a class="btn btn-success" @click="reset"><i class="fa fa-rotate-left"></i> 重置</a>
            <a v-if="hasPermission('orderinfo:info')" class="btn btn-primary" @click="detail"><i class="fa fa-file-text-o"></i>&nbsp;详情</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">用户名</div>
                <div class="col-sm-10">
                    <input type="text" disabled="disabled" class="form-control" v-model="orderInfo.username" />
                </div>
            </div>
            <!--<div class="form-group">
                <div class="col-sm-2 control-label">订单总额</div>
                <div class="col-sm-10">
                    <input type="text" disabled="disabled" class="form-control" v-model="orderInfo.amountTotal" />
                </div>
            </div>-->
            <div class="form-group">
                <div class="col-sm-2 control-label">订单金额</div>
                <div class="col-sm-10">
                    <input type="text" disabled="disabled" class="form-control" v-model="orderInfo.amount" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">押金</div>
                <div class="col-sm-10">
                    <input type="text" disabled="disabled" class="form-control" v-model="orderInfo.deposit" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">桶数</div>
                <div class="col-sm-10">
                    <input type="text" disabled="disabled" class="form-control" v-model="orderInfo.bucketNum" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">折扣优惠金额</div>
                <div class="col-sm-10">
                    <input type="text" disabled="disabled" class="form-control" v-model="orderInfo.amountBenifit"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">活动优惠金额</div>
                <div class="col-sm-10">
                    <input type="text" disabled="disabled" class="form-control" v-model="orderInfo.amountActivity"
                           />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">配送费</div>
                <div class="col-sm-10">
                    <input type="text" disabled="disabled" class="form-control" v-model="orderInfo.amountDeliveryFee"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">订单状态</div>
                <div class="col-sm-10">
                    <input type="text" disabled="disabled" class="form-control" v-if="orderInfo.status==10" value="待支付"/>
                    <input type="text" disabled="disabled" class="form-control" v-if="orderInfo.status==20" value="待配送"/>
                    <input type="text" disabled="disabled" class="form-control" v-if="orderInfo.status==30" value="配送中"/>
                    <input type="text" disabled="disabled" class="form-control" v-if="orderInfo.status==40" value="已送达"/>
                    <input type="text" disabled="disabled" class="form-control" v-if="orderInfo.status==50" value="已关闭"/>
                    <input type="text" disabled="disabled" class="form-control" v-if="orderInfo.status==60" value="已评论"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">订单备注</div>
                <div class="col-sm-10">
                    <input type="text" disabled="disabled"  class="form-control" v-model="orderInfo.remark" />
                </div>
            </div>
            <!--<div class="form-group">
                <div class="col-sm-2 control-label">订单创建时间</div>
                <div class="col-sm-10">
                    <input type="text" disabled="disabled"  class="form-control" v-model="orderInfo.creationTime" />
                </div>
            </div>-->
            <div class="form-group">
                <div class="col-sm-2 control-label">配送状态</div>
                <div class="col-sm-10">
                    <font color="green" v-if="orderInfo.type == 10">正常</font>
                    <font color="red" v-if="orderInfo.type == 20">异常</font>
                </div>
            </div>
            <div class="form-group" v-if="orderInfo.type == 20">
                <div class="col-sm-2 control-label">异常信息</div>
                <div class="col-sm-10">
                    <font color="red" >{{orderInfo.exception}}</font>
                </div>
            </div>
        </form>
        <div class="panel-heading" v-if="orderDeliveryInfo != null">配送单信息</div>
        <div v-show="showDetail" v-if="orderDeliveryInfo != null">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-2 control-label">收货人姓名：</div>
                    <div class="col-sm-10">
                        <input type="text" disabled="disabled" class="form-control" v-model="orderDeliveryInfo.name"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">电话：</div>
                    <div class="col-sm-10">
                        <input type="text" disabled="disabled" class="form-control" v-model="orderDeliveryInfo.phone"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">收货地址：</div>
                    <div class="col-sm-10">
                        <input type="text" disabled="disabled" class="form-control" v-model="orderDeliveryInfo.address"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">配送单状态：</div>
                    <div class="col-sm-10">
                        <input type="text" disabled="disabled" class="form-control" v-if="orderDeliveryInfo.status==10" value="新创建"/>
                        <input type="text" disabled="disabled" class="form-control" v-if="orderDeliveryInfo.status==20" value="未分配"/>
                        <input type="text" disabled="disabled" class="form-control" v-if="orderDeliveryInfo.status==30" value="已关闭"/>
                        <input type="text" disabled="disabled" class="form-control" v-if="orderDeliveryInfo.status==40" value="配送中"/>
                        <input type="text" disabled="disabled" class="form-control" v-if="orderDeliveryInfo.status==50" value="配送结束"/>
                        <input type="text" disabled="disabled" class="form-control" v-if="orderDeliveryInfo.status==60" value="异常"/>
                        <input type="text" disabled="disabled" class="form-control" v-if="orderDeliveryInfo.status==70" value="已支付"/>
                    </div>
                </label>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label">配送员：</div>
                    <div class="col-sm-10">
                        <input type="text" disabled="disabled" class="form-control"
                               v-model="orderDeliveryInfo.deliveryDistributorName" />
                    </div>
                </div>
                <div class="form-group" v-if="orderDeliveryInfo.delivery_time!=null">
                    <div class="col-sm-2 control-label">期望配送时间：</div>
                    <div class="col-sm-10">
                        <input type="text" disabled="disabled" class="form-control"
                               v-model="orderDeliveryInfo.delivery_time" />
                    </div>
                </div>
            </form>
            <div class="form-group">
                <div class="col-sm-1 control-label"></div>
                <input type="button" class="btn btn-primary" v-if="orderInfo.type == 20" @click="handDistribute" v-if="hasPermission('order:update')" value="手工派单"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-primary" v-if="orderInfo.type == 20" @click="handle" v-if="hasPermission('order:update')" value="标记为已人工处理"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </div>
        <div class="panel-heading">订单商品信息</div>
        <div v-show="showDetail">
            <form class="form-horizontal">
                <table id="jqGridProduct"></table>
                <div id="jqGridProductPager"></div>
            </form>
        </div>
    </div>
</div>

<script src="../public/js/order/orderinfo.js"></script>
</body>
</html>